body {
  text-align: center;
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

p {
  margin-bottom: 0;
  font-size: 1.2rem;
}
hr{

border: dotted  #005691 8px;
border-bottom: none;
width: 4%;
margin: 25px auto;

}

/* sections */
.content-section {
  padding: 5rem 0 0;
}

/* navbar */
.navbar {
  background-color: #004a7c;
}

.navbar-brand {
  font-size: 2rem;
  font-family: 'Courgette', cursive;
}
.icon-top{

  margin: 20px 10px;

}

/* title */
.bio-div{
  vertical-align: middle;
}
.photo-title{

width: 100%;
position: relative;
top: 50%;
transform: translateY(-50%);
}
.intro-title{

  padding: 7% 15%;
  line-height: 2;

}
.bio-title{

text-align: justify;
font-size: 1.2rem;

}
.presentacion-title{
  padding: 7% 15%;
  line-height: 2;
  background-color: #005691;
  color: #fafafa;
}
.titulo-div{
  font-size: 4rem;
  font-weight: 900;
  margin: 0 auto 7%;

}

/* fotos */
.galeria-productos{
  padding: 7% 15%;
  line-height: 2;
}

.fondo-galeria {
  background-color: #FFC359;
  padding: 3% 2%;
  margin-top: 10%;
}

.madera-fotos {
  width: 60%;
  padding-bottom: 4rem;
  margin: 10px;
}
.piso-texto{
  text-align: center;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}
.slide{
  padding: 7% 15%;
  color: #fafafa;

}

.muestras-image{

  width: 70%;
  margin: 20px 20px 50px;

}

/* Muestra */
#muestras {
  background-color: #005691;

}
/* footer */
#footer{

  padding: 7% 15%;

}
.social-icon{

  margin: 20px 10px;

}
.copy-right{
padding-top: 5%;
font-size: 0.75rem;

}
